<nav class="nav-bar d-flex justify-content-between flex-column">

	<div class="nav-bar__items d-flex align-items-center flex-column">

        <a class="nav-bar__item customUser-profile {{active_profile}}" href="/" title="Профиль"><i
                class="fal fa-customUser"></i></a>
		<a class="nav-bar__item {{active_notification}} " data-toggle="modal" data-target="#modalAddTodo" href="#">
			<i class="fal fa-bell"></i>
		</a>

	</div>

	<div class="nav-bar__items d-flex align-items-center flex-column">

        <a class="nav-bar__item customUser-profile {{active_mainArhive}}" href="/main-arhive" title="Профиль"><i
                class="fal fa-customUser"></i></a>
	</div>
</nav>