body, html, * {
    font-family: "Helvetica regular";
}

body {
    background-color: #ffffff;
    background-image: url("../img/wallpapers/3841635.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.default-container {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.access-block {
    border-bottom: 0 none;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.46);
    background-color: #ffffff;
    position: relative;
}

.access-block .not-active {
    background-image: linear-gradient(to top right, #88d3ce 0%, #80a9d4 100%);
}

.access-block.col-xl-6 {
    padding: 0px;
    margin: 0px
}

.access-block.col-lg-12 {
    padding: 0px;
    margin: 0px
}

.access-block.col-sm-12 {
    padding: 0px;
    margin: 0px
}

.access-block.col-md-8 {
    padding: 0px;
    margin: 0px
}

.access-block.col-lg-12 {
    padding: 0px;
    margin: 0px
}

.access-form {
    padding: 60px 60px;
}

.access-form .title {
    font-family: "Helvetica regular";
    font-size: 20px;
    text-align: center;
    color: #5bb0cd;
    margin-bottom: 20px;
}

.access-form .service-item {
    padding: 8px 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Helvetica light";
    font-size: 14px;
    color: #ffffff;
    background-image: linear-gradient(to right, #80a9d4 0%, #88d3ce 100%, #80a9d4 100%);
    background-size: 200% auto;
    transition: .3s;
}

.access-form .service-item:hover {
    background-position: right center;
    box-shadow: 0 0px 10px #88d3ce
}

.access-form .service-item:nth-child(2) {
    margin-left: 10px;
}

.access-form .service-item img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    object-position: center;
    margin-left: 20px;
}

.access-form .body {
    width: 100%;
    margin: 50px 0px;
    flex-grow: 1;
}

.access-form .body input:not([type="checkbox"]) {
    width: 100%;
    margin-bottom: 25px;
}

.shift-button {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    padding: 10px 60px;
}

.state-change {
    background-image: linear-gradient(to top right, #88d3ce 0%, #80a9d4 100%);
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

@media screen and (max-width: 1200px) {
    .state-change {
        display: none;
        bottom: 0;
    }
}

.custom-button {
    padding: 15px 50px;
    color: #fff;
    font-family: "Helvetica regular";
    transition: .3s;
    background-size: 200% auto;
}

.custom-button:hover {
    background-position: right center;
    box-shadow: 0 0px 10px #88d3ce;
}

.custom-button:focus {
    outline: none;
}