/* 
    -------------------
        User Options 
    -------------------
*/

.user-options img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.user-options .user-img {
    position: relative;
}

[data-type="status"] {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: #26de81;
    border-radius: 100%;
    border: 1px solid #ffffff;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-options .user-name {
    margin:0px 30px;
    font-size: 14px;
    color:#999999;
    transition: .2s;
    cursor: pointer;
}

.user-options .drop-down i {
    color:#999999;
    transition: .2s;
}

.user-options .drop-down i:hover {
    color:#17c0eb
}

.user-options .drop-down_list {
    min-width: auto;
    left:-10%;
    min-width: 180px;
    top:30px;
    
}

.user-options .drop-down_item {
    font-family: "Roboto regular";
    font-size: 14px;
    padding: 10px 20px;
    height: auto;
    white-space: normal;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: .2s;
}

.user-options .drop-down:hover .drop-down_btn i {
    color:#17c0eb
}

.user-options .drop-down:hover .user-name {
    color:#17c0eb
}

.user-options .drop-down_item i {
    color:#17c0eb;
    font-size: 16px;
}

.user-options .drop-down_item:hover {
    color:#17c0eb
}