/* Main Content */
.content.CL-Panel {
    padding: 30px 30px;
}

/* Cl-Panel Table */
table#CL-Panel {
    border-collapse: separate;
    border-spacing: 0px 10px;
    margin-top: 20px;
    width:100%;
}

table#CL-Panel tr {
    width:100%
}

/* CL-Panel Titles */
table#CL-Panel td {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Roboto Light";
    text-align: left;
}

table#CL-Panel td i {
    color: #999999;
}

/* CL-Panel Main Settings */
table#CL-Panel td:not([data-role]) {
    color: #454545
}

table#CL-Panel thead td {
    color: #757575;
    font-size: 15px;
    font-family: "Roboto regular";
}

table#CL-Panel tr td img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

/* CL-Panel Custom Drop-Down */


table#CL-Panel .drop-down_list {
    min-width: 0%;
    width: auto;
    padding: 15px 25px;
    max-height: 320px;
    overflow-y: auto;
}

table#CL-Panel .drop-down-list_inner {
    max-height: 300px;
    overflow-y: auto;
}

table#CL-Panel .drop-down_item {
    font-size: 14px;
    color: #454545;
    font-family: "Helvetica regular";
    transition: .1s;
    display: flex;
    align-items: center;
}

table#CL-Panel .drop-down_item i {
    margin-left: 20px;
}

table#CL-Panel .drop-down_item:hover {
    color: #34ace0
}

table#CL-Panel .drop-down_btn {
    display: flex;
    align-items: flex-start;
}

table#CL-Panel .drop-down_btn i {
    margin-left: 15px;
    color: #999999;
    font-size: 16px;
}

table#CL-Panel .drop-down_selected {
    font-size: 14px;
    font-family: "Roboto light";
    color: #454545
}