/* 
    -----------------------------------
                Main Styles
    -----------------------------------
*/

body,
html,
* {
    font-family: "Roboto regular";
    color: #333333
}

a {
    color: #34ace0;
    transition: .1s;
}

a:hover {
    color: #56bae5;
    transition: .1s;
}

/* 
    -----------------------------------
             Backgrounds colors
    -----------------------------------
*/

.bg_info {
    background-color: #33d9b2;
}

.bg_default {
    background-color: #34ace0;
}

.bg_ocean {
    background-color: #0fb9b1;
}

.bg_pumpkin {
    background-color: #ff793f;
}

.bg_purple {
    background-color: #706fd3;
}

.bg_indigo {
    background-color: #a55eea;
}

.bg_blue {
    background-color: #17c0eb
}

.bg_success {
    background-color: #26de81;
}

.bg_yellow {
    background-color: #ffb142;
}

.bg_orange {
    background-color: #ff793f;
}

.bg_red {
    background-color: #ff5252
}

/* 
    -----------------------------------
                Text colors
    -----------------------------------
*/

.text_info {
    color: #33d9b2;
}

.text_default {
    color: #34ace0;
}

.text_ocean {
    color: #0fb9b1;
}

.text_pumpkin {
    color: #ff793f;
}

.text_purple {
    color: #706fd3;
}

.text_indigo {
    color: #a55eea;
}

.text_blue {
    color: #17c0eb
}

.text_success {
    color: #26de81;
}

.text_yellow {
    color: #ffb142;
}

.text_orange {
    color: #ff793f;
}

.text_red {
    color: #ff4959
}

/* 
    -----------------------------------
                  Checkboxs
    -----------------------------------
*/

.custom-checkbox {
    vertical-align: middle;
}

.custom-checkbox label {
    color: #777777;
}

.custom-control-label:after {
    margin-right: 20px;
}

.custom-checkbox.default .custom-control-input:checked~.custom-control-label::before {
    background-color: #80a9d4;
    border-color: #80a9d4;
}

.custom-checkbox.danger .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff4959;
    border-color: #ff5d6b;
}

.custom-checkbox.warning .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffc107;
    border-color: #ffcb2e;
}

.custom-checkbox.success .custom-control-input:checked~.custom-control-label::before {
    background-color: #20c997;
    border-color: #17d29b;
}

.custom-checkbox.info .custom-control-input:checked~.custom-control-label::before {
    background-color: #34ace0;
    border-color: #34ace0;
}

/* 
    -----------------------------------
                   Radio
    -----------------------------------
*/

.custom-radio {
    vertical-align: middle;
}

.custom-radio label {
    color: #777777;
}

.custom-control-label:after {
    margin-right: 20px;
}

.custom-radio.default .custom-control-input:checked~.custom-control-label::before {
    background-color: #80a9d4;
    border-color: #80a9d4;
}

.custom-radio.danger .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff4959;
    border-color: #ff5d6b;
}

.custom-radio.warning .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffc107;
    border-color: #ffcb2e;
}

.custom-radio.success .custom-control-input:checked~.custom-control-label::before {
    background-color: #20c997;
    border-color: #17d29b;
}

.custom-radio.info .custom-control-input:checked~.custom-control-label::before {
    background-color: #34ace0;
    border-color: #34ace0;
}

/* 
    -----------------------------------
              Custom Scrollbar 
    -----------------------------------
*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:vertical {
    background-image: linear-gradient(to bottom, #34ace0 4%, #33d9b2 98%);
}

::-webkit-scrollbar-thumb:horizontal {
    background-image: linear-gradient(to right, #34ace0 4%, #33d9b2 98%);
}

/* 
    -----------------------------------
                  Status
    -----------------------------------
*/

.status {
    font-size: 14px;
    opacity: 0;
    color: #ff4959;
    margin: 8px 0px;
    transition: .2s;
}

/* 
    -----------------------------------
                   Spinner
    -----------------------------------
*/

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1.0);
    }
}

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #34ace0;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

/* 
    -----------------------------------
            Custom Area & Inputs
    -----------------------------------
*/

.custom-input {
    padding: 12px;
    font-family: "Helvetica regular";
    border-bottom: 1px solid #cccccc;
    transition: .3s;
    font-size: 14px;
}

.custom-input:focus {
    border-bottom: 1px solid #80a9d4;
}

.custom-textarea {
    padding: 12px;
    border-bottom: 1px solid #cccccc;
    transition: .3s;
    font-size: 14px;
}

.custom-textarea:focus {
    border-bottom: 1px solid #80a9d4;
}

/* 
    -----------------------------------
                Calendar
    -----------------------------------
*/

.calendar {
    width: 100%;
    position: relative;
}

.calendar .head-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 0px;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
    transition: .2s;
}

.calendar .head-block:hover {
    border-color: #80a9d4;
}

.calendar .title {
    font-size: 10px;
    color: #80a9d4;
    font-family: "Roboto medium";
    letter-spacing: 4px;
    margin-left: 10px;
}

.calendar .date {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto regular";
    margin-right: 10px;
}

/* calendar body */

.calendar .body {
    padding: 10px 0px;
    display: none;
    flex-direction: column;
    margin: 10px 0px;
    position: absolute;
    background-color: #ffffff;
    z-index: 999999;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    border-radius: 1px;
    height: auto;
    min-width: 250px;
    width: 100%;
}

.calendar .control span {
    color: #777777;
    font-size: 14px;
}

.calendar .control i {
    font-size: 14px;
    cursor: pointer;
    color: #777777;
    cursor: pointer;
}

/* date selector */

.calendar .date-selector {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}

.calendar .date-selector thead tr td div {
    padding: 5px;
    color: #34ace0;
    font-family: "Roboto regular";
    text-align: center;
}

.calendar .date-selector tr td:not(.week-day) div:hover {
    background-color: #34ace0;
    color: #def2fa
}

.calendar .date-item {
    color: #999999;
    cursor: pointer;
    font-size: 13px;
    transition: .15s;
    border-radius: 100%;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto regular";
}

.calendar .disabled {
    opacity: 0;
}

.calendar .week-end .date-item {
    color: #ff5d6b
}

.calendar .date-item.active {
    background-color: #34ace0;
    color: #ffffff
}

/* 
    -----------------------------------
                 Drop-DOWN
    -----------------------------------
*/

.drop-down {
    position: relative;
}

.drop-down_list {
    position: absolute;
    overflow-y: auto;
    display: none;
    z-index: 999;
    min-width: 280px;
    width: 100%;
    max-height: 320px;
    padding: 0px 0px;
    top: 40px;
    box-shadow: 0 3px 11px 2px rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    background-color: #ffffff;
}

.drop-down_item {
    padding: 5px;
    margin: 5px 0px;
    font-size: 13px;
    transition: .1s;
    width: 100%;
    font-family: "Roboto regular";
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #ffffff;
    color: #777777;
}

.drop-down_btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto regular";
    color: #777777;
}


/* 
    -----------------------------------
             Content Editor
    -----------------------------------
*/

[contenteditable] {
    width: 100%;

    outline: 1px dashed transparent;
    border: none;

    margin: 0px;

    display: inline-block;
    white-space: pre-wrap;
    transition: .2s;
}

[contenteditable]:focus {
    outline-color: #34ace0
}

[data-count] {
    position: relative;
}

[data-count]:before {
    content: attr(data-count);
    z-index: 1000;
    height: 17px;
    width: 17px;
    background-color: #ff4959;
    border-radius: 100%;
    font-size: 9px;
    color: #ffffff;

    position: absolute;
    top: -6px;
    right: -6px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

[data-user-status] {
    position: relative;
}

[data-user-status]:after {
    display: block;
    content: "";
    width:12px;
    height:12px;
    position: absolute;
    top:-4px;
    left: -4px;
    background-color: #26de81;
    border-radius: 100%;
    border:1px solid #ffffff;
}