/* -------------------
       Main Style
 ------------------- */

.custom-button {
    padding: 5px 20px;
    color: #333333;
    font-size: 13px;
    font-family: "Roboto light";
    border-radius: 5px;
    transition: .2s;
    box-shadow: 0px 0px 2px #777777;
    margin-left: 5px;
}

.custom-button.info {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    background-color: #34ace0;
    color: #fff
}


.custom-button:hover.info {
    background-color: #56bae5;
}

.custom-button.success {
    background-color: #26de81;
    color:#ffffff
}
.custom-button.success:hover {
    background-color: #26de81;
}
.custom-button.danger {
    background-color: #ff4959;
    color:#ffffff
}
.custom-button.danger:hover {
    background-color: #ff4959;
}

.spinner-status {
    transition: .3s;
    opacity: 1;
}

.status-spinner a {
    padding-top: 3px;
    font-size: 14px;
    color: #34ace0;
}

.status-text {
    color: #ff4959
}

/*--------------------
        Files 
 ------------------- */

.files-container .file,
.report-upload-files .file {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: .3s;
}

.files-container .file:not(:last-child),
.report-upload-files .file:not(:last-child) {
    margin-bottom: 30px;
}

.files-container .dismiss i,
.report-upload-files .dismiss i {
    color: #ababab;
    transition: .2s;
    font-size: 17px;
}

.files-container .dismiss:hover i,
.report-upload-files.dismiss:hover i {
    color: #777777;
}

.file-content {
    display: flex;
    align-items: center;
}

.files-container .file img,
.report-upload-files .file img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.files-container .file .file-name,
.report-upload-files .file .file-name {
    color: #777777;
    font-size: 14px;
}

/*--------------------
      Upload Files 
 ------------------- */

#uploadFilesLable {
    overflow-x: hidden;
    white-space: nowrap;
}

/*--------------------
      Add Todos 
 ------------------- */

.performers {
    padding: 12px;
}

.performer-list {
    white-space: normal;
    overflow-y: auto;
    max-height: 295px;
}

.files-container:not(.responsive) {
    height: auto;
    white-space: nowrap;
    overflow-y: auto;
    height: 384px;
}

.performers .user {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.performers .user:not(:last-child) {
    margin-bottom: 30px;
}

.performers .user img {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: center;
}

.performers .user-meta {
    margin-left: 15px;
    line-height: 16px;
}

.performers .user-name {
    color: #34ace0;
    font-size: 13px;
}

.performers .user-department {
    color: #777777;
    font-size: 11px;
}

.performers .dismiss i {
    color: #ababab;
    transition: .2s;
    font-size: 17px;
}

.performers .dismiss i:hover {
    color: #777777;
}

.performers .drop-down .drop-down_btn {
    transition: .2s;
}

.performers .drop-down:hover .drop-down_btn div {
    background-color: #56bae5;
}

.performers .drop-down:hover .drop-down_btn {
    color: #56bae5;
}

.performers .drop-down_btn div {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #34ace0;
    color: #f5f6fa;
    font-weight: 600;
    transition: .2s;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

/*--------------------
      Drop Down 
 ------------------- */

.drop-down .user {
    margin: 0px;
    height: 60px;
}

.drop-down .user img {
    margin: 0px;
}

.drop-down_item {
    padding: 3px;
    margin: 0px;
    margin-top: 8px;
}

.drop-down_list#user-list .drop-down_item {
    border: 1px dashed transparent;
    transition: .2s;
}

.drop-down_list#user-list .drop-down_item:hover {
    border-color: #34ace0;
}

/*------------------------
    Add to existing Todo
 ------------------------- */

#add-ExistingTodo .add-btn {
    font-size: 13px;
    color: #777777;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Roboto regular";
    margin: 30px 0px;
    transition: .2s;
}

#add-ExistingTodo .add-btn:hover {
    color: #56bae5
}

#add-ExistingTodo .add-btn span {
    width: 25px;
    height: 25px;
    background-color: #34ace0;
    transition: .2s;
    border-radius: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#add-ExistingTodo .add-btn:hover span {
    background-color: #56bae5;
}

#add-ExistingTodo .board-item {
    justify-content: space-between;
    margin: 0px;
    line-height: 0.9rem;
    height: 35px;
    width: 100%;
}

#add-ExistingTodo .board-item .dismiss i {
    color: #ababab;
    transition: .2s;
    font-size: 17px;
}

#add-ExistingTodo .board-item .dismiss i:hover {
    color: #777777;
}

#add-ExistingTodo .board-item .board-item_content {
    display: flex;
    align-items: center;
}

#add-ExistingTodo .board-item.New .board-item_status {
    color: #34ace0
}

#add-ExistingTodo .board-item.Progress .board-item_status {
    color: #ffb142
}

#add-ExistingTodo .board-item img {
    width: 25px;
    height: 25px;
}

#add-ExistingTodo .board-item_title {
    font-size: 13px;
}

#add-ExistingTodo .board-item_title span {
    font-size: 11px;
    color: #777777
}

#add-ExistingTodo .board-item_status {
    font-size: 11px;
}

#add-ExistingTodo .drop-down_item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-ExistingTodo .drop-down_item {
    border: 1px dashed transparent;
    transition: .2s;
}

#add-ExistingTodo .drop-down_item:hover {
    border-color: #34ace0;
}

#add-ExistingTodo .drop-down_list {
    max-height: 140px;
}

/*------------------------
        Task Info
 ------------------------- */

.performers-container .performers {
    padding: 0px;
    overflow-y: auto;
    white-space: nowrap;
}

.performers-container .user-name {
    color: #424242;
    font-size: 14px;
}

.performers-container .user-department {
    color: #34ace0;
    font-size: 12px;
}

.files .title,
.comments .title,
.performers-container .title,
.description .title,
.report .title,
.report-msg .title {
    color: #757575;
    font-size: 14px;
    margin-bottom: 24px;
    transition: .2s;
}

/* files download icon */
.files .title i {
    color: #34ace0;
    margin-right: 20px;
    font-size: 16px;
}

/* info count */
.files #count,
.comments #count,
.performers-container #count {
    color: #757575;
    margin-left: 10px;
}

/* download */

.files .title:hover {
    color: #34ace0
}

/* comment */

.comments-container {
    height: 265px;
    overflow-y: auto;
    white-space: normal;
    overflow-x: hidden;
}

.comment {
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

.comment:not(:last-child) {
    margin-bottom: 20px;
}

.comment img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%
}

.comment-body {
    margin-left: 20px;
}

.comment .author-name {
    color: #424242;
    font-size: 14px;
    line-height: 25px;
}

.comment-text {
    margin: 5px 0px;
    color: #757575;
    font-size: 12px;
    white-space: normal;
}

.comment-date {
    color: #34ace0;
    font-size: 11px;
}

/* description */

.description-container {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-text {
    color: #424242;
    font-size: 14px;
    height: 320px;
    overflow-y: auto;
    white-space: normal;
    margin-bottom: 24px;
}

.description-lm_date {
    color: #757575;
    font-size: 13px;
}

.description-lm_val {
    color: #34ace0;
    font-size: 11px;
    margin-left: 10px;
}

input[contenteditable] {
    width: 100%;

    outline: 1px dashed transparent;
    border: none;

    padding: 5px;
    margin: 0px;

    display: inline-block;
    white-space: pre-wrap;
    transition: .2s;
}

input[contenteditable]:focus {
    outline-color: #34ace0
}

/* slider */

/* .slider-indicators span {
    color:#777777;
    cursor: pointer;
}

.slider-indicators .active {
    color:#34ace0
} */