<!DOCTYPE html>
<html lang="en">

<head>
    {{> static_head_module}}
</head>

<body>

    {{> static_modals_module}}

    {{> static_navBar_module}}

    <table class="archive-table">
        <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Department</th>
            <th>Performer</th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

    {{> static_bodyScripts_module}}

</body>

</html>