<!DOCTYPE html>
<html lang="en">

<head>
    {{> static_head_module}}
    <link rel="stylesheet" href="css/page-style.css">
</head>

<body>
    {{> static_modals_module}}
    <div class="wrapper d-flex">
        <div class="option-menu">

            <div class="option-item drop-down" id="notifications">
                <div class="drop-down_btn">
                    <img src="img/services/mail.png" alt="">
                </div>
                <div class="drop-down_list">
                    <div id="notifications-list">
                    </div>
                </div>
            </div>
            <div class="option-item" id="clpanel-link" style="display: none" >
                <a href="/CLpanel"><img src="img/services/settings.png" alt=""></a>
            </div>

        </div>
        <div class="padding-block col-0 col-sm-0 col-md-0 col-lg-0 col-xl-1"></div>
        <div class="col-12 col-xl-10 content">
            <div class="nav-bar">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <div class="nav-bar_item">
                            <button onclick="window.location = '/teamboard'">
                                <img src="img/services/team.png" alt="" class="bg_info">
                                Дошка моєї команди
                            </button>
                        </div>
                        <div class="nav-bar_item">
                            <button onclick="window.location = '/myboard'">
                                <img src="img/services/man.png" alt="" class="bg_purple">
                                Моя дошка
                            </button>
                        </div>
                        <div class="nav-bar_item active" id="linkToFiles">
                            <button onclick="window.location = '/archive'">
                                <img src="img/services/icons8-folder-48.png" alt="" class="bg_info">
                                Файли
                            </button>
                        </div>
                    </div>
                    <div class="d-flex" style="margin-left:70px">
                        <div id="archive-options" class="">
                            <div class="d-flex archive-addition">
                                <div style="margin:0px 40px" class="archive-addation-rights d-flex">
                                    <button class="archive-options_item" id="call-add-NewTodo">
                                        <i class="fa fa-plus-circle"></i>
                                        Нове завдання
                                    </button>
                                    <button class="archive-options_item" id="call-add-ExistingTodo">
                                        <i class="fa fa-plus-circle"></i>
                                        До існуючої
                                    </button>
                                </div>
                                <button class="archive-options_item" id="call-DownloadDoc">
                                    <i class="fa fa-cloud-download-alt"></i>
                                    Скачати
                                </button>
                                <button class="archive-options_item" id="call-ShareDoc">
                                    <i class="fa fa-envelope"></i>
                                    Поділитися
                                </button>
                            </div>
                        </div>
                        <button class="archive-options_item" id="call-UploadDoc">
                            <i class="fa fa-cloud-upload-alt"></i>
                            Завантажити
                        </button>
                    </div>
                </div>
            </div>
            <div class="archive-body">
                <div class=" load-box d-flex justify-content-center align-items-center">
                    <div class="sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>
                </div>
                <table class="archive-table">

                </table>
                <div style="font-size:16px; margin-top:20px; display:none;" class=" justify-content-center w-100 show_more" id="showMore">
                    Більше
                </div>

            </div>
        </div>
        <div class="padding-block col-0 col-sm-0 col-md-0 col-lg-0 col-xl-1"></div>
    </div>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script type="module" src="scripts/main.js"></script>
</body>

</html>