<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_block}}
</head>

<body>


	<div class="wrapper">

       {{> nav-bar}}

		<section class="archive">

        	<table class="arсhive-table">

        		<tr class="archive-header">
        			<th>Название:</th>
        			<th>Дата</th>
        			<th>Отдел:</th>
        			<th>Исполнитель:</th>
        			<th></th>
        		</tr>
        	</table>


        </section>



	</div>

	<script src="scripts/lib.js"></script>
	<script src="scripts/main.js"></script>
</body>

</html>