<!DOCTYPE html>
<html lang="en">

<head>
    {{> static_head_module}}
    <link rel="stylesheet" href="css/access.css">
</head>

<body>
    <div class="default-container d-flex align-items-center justify-content-center">
        <div class="access-block col-sm-12 col-md-8 col-lg-6 col-xl-6 row">
            <div class="col-lg-12 col-xl-6 access-form" id="login-form">
                <div class="header">
                    <div class="title">Sign In</div>
                    <div class="d-flex">
                        <button class="service-item">
                            Увійти з
                            <img src="img/services/google.png" alt="">
                        </button>
                        <button class="service-item">
                            Увійти з
                            <img src="img/services/facebook.png" alt="">
                        </button>
                    </div>
                </div>
                <div class="body">
                    <input type="text" placeholder="E-mail" class="custom-input e-mail">
                    <input type="password" placeholder="Password" class="custom-input password">
                    <div class="custom-control custom-checkbox default">
                        <input type="checkbox" class="custom-control-input remember" id="loginRemember">
                        <label class="custom-control-label" for="loginRemember">Запам'ятати мене</label>
                    </div>
                </div>
                <div class="status"></div>
                <div class="footer">
                    <button id="login-button" class="custom-button m-auto w-100"
                        style="background-image: linear-gradient(to right, #80a9d4 0%, #88d3ce 100%, #80a9d4 100%);">
                        Увійти
                    </button>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 access-form login" id="confirm">
                <div class="body">
                    <div class="title">
                        Код підтвердження відправлен вам на пошту
                        <div class="email">
                            -
                        </div>
                    </div>
                    <input type="text" placeholder="Enter code" class="custom-input confirm mt-3">
                    <div>
                        <div class="status"></div>
                        <button id="confirm-button" class="custom-button m-0 w-100"
                            style="background-image: linear-gradient(to right, #80a9d4 0%, #88d3ce 100%, #80a9d4 100%);">
                            Підтвердити
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 access-form" id="signup-form">
                <div class="header">
                    <div class="title">Реєстрація</div>
                    <div class="d-flex">
                        <button class="service-item">
                            Реєстрація з
                            <img src="img/services/google.png" alt="">
                        </button>
                        <button class="service-item">
                            Реєстрація з
                            <img src="img/services/facebook.png" alt="">
                        </button>
                    </div>
                </div>
                <div class="body">
                    <input type="text" placeholder="Електронна пошта" class="custom-input e-mail">
                    <div class="d-flex">
                        <input type="text" placeholder="Прізвище" class="custom-input lastName" style="width:50%">
                        <input type="text" placeholder="Ім'я" class="custom-input firstName" style="width:50%">
                    </div>
                    <input type="password" placeholder="Пароль" class="custom-input password">
                    <input type="password" placeholder="Повторіть пароль" class="custom-input repeat-password">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="custom-control custom-checkbox default d-flex align-items-center">
                            <input type="checkbox" class="option-checkbox custom-control-input remember" id="signUpRemeber">
                            <label class="custom-control-label" for="signUpRemeber">Запам'ятати мене</label>
                        </div>
                    </div>
                </div>
                <div class="status">

                </div>
                <div class="footer">
                    <span style="color:transparent; margin:0px auto; margin-bottom:15px; font-size:14px">
                        -
                    </span>
                    <button id="signup-button" class="custom-button m-auto w-100"
                        style="background-image: linear-gradient(to right, #80a9d4 0%, #88d3ce 100%, #80a9d4 100%);">
                        Зареєструватися
                    </button>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 access-form signup" id="confirm">
                <div class="body">
                    <div class="title">
                        Ми відправили код підтвердження на вашу пошту
                        <div class="email">
                            -
                        </div>
                    </div>
                    <input type="text" placeholder="Enter code" class="custom-input confirm mt-3">
                    <button id="confirm-button" class="custom-button m-0 w-100"
                        style="background-image: linear-gradient(to right, #80a9d4 0%, #88d3ce 100%, #80a9d4 100%);">
                        Підтвердити
                    </button>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 state-change text-light">
                <h6 style='font-size:20px; font-family:"Helvetica italic"; color:#ffffff'>
                    Почати!
                </h6>
                <button style="margin-top:20px" class="custom-button shift-button">Реєстрація</button>
            </div>
        </div>
    </div>
    <script type="module" src="scripts/main.js"></script>
</body>

</html>