<!DOCTYPE html>
<html lang="en">

<head>
    {{> static_head_module}}
    <link rel="stylesheet" href="css/page-style.css">
    <link rel="stylesheet" href="css/CL-Panel.css">
</head>

<body>
    {{> static_modals_module}}

    <div class="wrapper d-flex">
        <div class="option-menu">
            <div class="option-item drop-down" id="notifications">
                <div class="drop-down_btn">
                    <img src="img/services/mail.png" alt="">
                </div>
                <div class="drop-down_list">
                    <div id="notifications-list">
                
                    </div>
                </div>
            </div>
            <div class="option-item" id="clpanel-link" style="display: none" >
                <a href="/CLpanel"><img src="img/services/settings.png" alt=""></a>
            </div>
        </div>
        <div class="padding-block col-0 col-sm-0 col-md-0 col-lg-0 col-xl-1"></div>
        <div class="col-12 col-xl-10 content CL-Panel">
            <div class="d-flex align-items-baseline justify-content-between">
                <form id="create-dep" class="d-flex align-items-baseline">
                    <input type="text" class="custom-input" maxlength="32" placeholder="Назва Відділу"
                        style="width: 300px; padding:5px">
                    <button type="submit" class="ml-5 custom-button info">
                        Створити новий відділ
                    </button>
                </form>
                <div>
                    <a href="/myboard"><i class="fa fa-home" style="font-size: 22px; color:#ababab"></i></a>
                </div>
            </div>
            <table id="CL-Panel" valign="center">
                <thead>
                    <td></td>
                    <td>Ім'я та Прізвище</td>
                    <td>Електронна пошшта</td>
                    <td>Відділ</td>
                    <td>Посада</td>
                    <td></td>
                </thead>
            </table>
        </div>
        <div class="padding-block col-0 col-sm-0 col-md-0 col-lg-0 col-xl-1"></div>
    </div>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script type="module" src="scripts/main.js"></script>
    <script type="module" src="scripts/modules/Cl-Panel.js"></script>
</body>

</html>