<div class="modal" id="modalDownload" tabindex="-1" role="dialog" aria-labelledby="modalDownloadLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalDownloadLabel">Загрузить документ</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" class="form-group">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile">
						<label class="custom-file-label" for="customFile">Выберите файл</label>
					</div>
					<select class="custom-select filter-select-box">
						<option selected> Выберите отдел </option>
						<option value="1">Отдел рукожопов</option>
						<option value="2">Отдел камикадзе</option>
						<option value="3">Отдел №51</option>
					</select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-accept">Загрзить</button>
			</div>
		</div>
	</div>
</div>



<div class="modal" id="modalAddTodo" tabindex="-1" role="dialog" aria-labelledby="modalAddTodoLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalAddTodoLabel">Добавить документ</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex">
				<div class="calendar">
					<div class="mini-calendar ddl-calendar">
						<label for="" style="color:#6f7782">Дата контроля</label>
						<table>
							<div class="d-flex justify-content-center align-items-baseline">
								<button type="button" id="previewMonth" class="btn btn-sm mr-4"><</button>
								<label><span id="cal-month"></span> <span id="cal-year"></span></label>
								<button type="button" id="nextMonth" class="btn btn-sm ml-4">></button>
							</div>
							<thead>
								<tr>
									<th>Пн</th>
									<th>Вт</th>
									<th>Ср</th>
									<th>Чт</th>
									<th>Пт</th>
									<th>Сб</th>
									<th>Вс</th>
								</tr>
							</thead>
							<tbody id="cal-body">

							</tbody>
						</table>
					</div>
					<div class="mini-calendar cl-calendar">
						<label for="" style="color:#6f7782">Дата дедлайна</label>
						<table>
							<div class="d-flex justify-content-center align-items-baseline">
								<button type="button" id="previewMonth" class="btn btn-sm mr-4"><</button>
								<label><span id="cal-month"></span> <span id="cal-year"></span></label>
								<button type="button" id="nextMonth" class="btn btn-sm ml-4">></button>
							</div>
							<thead>
								<tr>
									<th>Пн</th>
									<th>Вт</th>
									<th>Ср</th>
									<th>Чт</th>
									<th>Пт</th>
									<th>Сб</th>
									<th>Вс</th>
								</tr>
							</thead>
							<tbody id="cal-body">

							</tbody>
						</table>
					</div>
				</div>
				<form action="" class="form-group">
					<label>Название:</label>
					<input type="text" class="form-control mb-2" placeholder="Название">
					<label>Полное описание:</label>
					<textarea class="form-control mb-1" id="exampleFormControlTextarea1" rows="12" placeholder="..."></textarea>
					<select class="custom-select filter-select-box">
						<option selected> Выберите отдел </option>
						<option value="1">Жопкинск Григорич Григорорович</option>
						<option value="2">Желудовеский Жукович Жулодовидский</option>
						<option value="3">Респираторо Респиратор Респираторыч</option>
						<option value="4">Люликебабин Люлюкибаб Люлюкибабович</option>
					</select>
					<select class="custom-select filter-select-box" disabled>
						<option selected> Выберите работника </option>
						<option value="1">Жопкинск Григорич Григорорович</option>
						<option value="2">Желудовеский Жукович Жулодовидский</option>
						<option value="3">Респираторо Респиратор Респираторыч</option>
						<option value="4">Люликебабин Люлюкибаб Люлюкибабович</option>
					</select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="closeAddTodoModal" class="btn btn-light" data-dismiss="modal">Отмена</button>
				<button type="button" id="addTodoBtn" class="btn btn-accept" data-dismiss="modal">Отправить</button>
			</div>
		</div>
	</div>
</div>