

<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_block}}
</head>

<body>

    {{> modal}}

	<div class="wrapper">

       {{> nav-bar}}

        <div class="profile-wrapper d-flex flex-column">

        	<div class="profile_nav-bar d-flex justify-content-between align-items-center">
        		<div class="profile_bar-items d-flex">
        			<a href="" class="bar-item active">Доска</a>
        			<a href="" class="bar-item">Отедлы</a>
        			<a href="" class="bar-item">Календарь</a>
        		</div>
        		<div class="profile_settings d-flex align-items-baseline">
        			<button onclick="profileDDmenu()" class="profile_bar-btn btn btn-sm d-flex mr-2">
        				<i class="fas fa-chevron-down"></i>
        			</button>
        			<div class="settings">
        				<ul>
        					<li><a href=""><i class="fad fa-analytics"></i> Статистика</a></li>
        					<li><a href=""><i class="fad fa-sliders-h"></i> Панель управления</a></li>
        					<li><a href=""><i class="fal fa-cog"></i> Настройки</a></li>
        					<li><a href=""><i class="fad fa-sign-out-alt"></i> Выход</a></li>
        				</ul>
        			</div>
        			<div class="d-flex align-items-center">
        				<span class="profile_bar-name mr-4">
        					<a href="">Григорий Григорович</a>
        				</span>
        				<img src="img/profile.jpg" alt="Photo" class="profile_bar-img">
        			</div>
        		</div>
        	</div>

        	<div class="profile_body-wrapper">

        		<div class="board">
        			<div class="column">
        				<div class="column_header d-flex align-items-baseline primary">
        					Не активные
        					<i class="fas fa-download primary ml-4"></i>
        				</div>

        				<div class="column_body-wrapper">
        					<div class="column_body" id="todos-no-active">

        						<div class="todo_item" draggable="true">
        							<a href="" class="todo_header">documnet_oboasdasdadasdasdrot_123124124_ajsdl</a>
        							<div class="todo_body d-flex justify-content-between align-items-center">
        								<img src="img/profile.jpg" alt="" class="todo_body-img">
        								<span class="mr-2" id="todo-date">Загружено: <span class="primary ml-2">23.11.2020</span></span>
        							</div>
        						</div>

        						<div class="todo_item" draggable="true">
        							<a href="" class="todo_header">documnet_oboasdasdadasdasdrot_123124124_ajsdl</a>
        							<div class="todo_body d-flex justify-content-between align-items-center">
        								<img src="img/user.png" alt="" class="todo_body-img">
        								<span class="mr-2" id="todo-date">Загружено: <span class="primary ml-2">23.11.2020</span></span>
        							</div>
        						</div>

        						<div class="todo_item" draggable="true">
        							<a href="" class="todo_header">documnet_oboasdasdadasdasdrot_123124124_ajsdl</a>
        							<div class="todo_body d-flex justify-content-between align-items-center">
        								<img src="img/profile.jpg" alt="" class="todo_body-img">
        								<span class="mr-2" id="todo-date">Загружено: <span class="primary ml-2">23.11.2020</span></span>
        							</div>
        						</div>

        						<div class="todo_item" draggable="true">
        							<a href="" class="todo_header">documnet_oboasdasdadasdasdrot_123124124_ajsdl</a>
        							<div class="todo_body d-flex justify-content-between align-items-center">
        								<img src="img/profile.jpg" alt="" class="todo_body-img">
        								<span class="mr-2" id="todo-date">Загружено: <span class="primary ml-2">23.11.2020</span></span>
        							</div>
        						</div>

        					</div>
        				</div>
        			</div>
        			<div class="column">
        				<div class="column_header d-flex align-items-center primary">
        					Активные
        					<i class="far fa-plus ml-4"></i>
        				</div>

        				<div class="column_body-wrapper">
        					<div class="column_body" id="todos-active">

        					</div>
        				</div>
        			</div>
        			<div class="column">
        				<div class="column_header d-flex align-items-center">
        					Завершенные
        					<i class="fas fa-check success ml-4"></i>
        				</div>

        				<div class="column_body-wrapper">
        					<div class="column_body">

        					</div>
        				</div>
        			</div>
        			<div role="button" onclick="addNewColumn()" class="column add_new-column">
        				<div class="column_header d-flex align-items-center primary">
        					Создать новую
        					<i class="far fa-plus ml-4"></i>
        				</div>
        			</div>
        		</div>

        	</div>

        </div>`

	</div>

	<script src="scripts/lib.js"></script>
	<script src="scripts/main.js"></script>
</body>

</html>