{{!-------------------
       Upload Files
   -------------------  --}}

<div class="modal fade" id="upload-docs" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="uploadDocsLable">Upload Files</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="custom-file">
					<input type="file" class="custom-file-input uploadFiles" id="inputGroupFile01"
						aria-describedby="inputGroupFileAddon01"
						accept=".jpg, .png, .pdf, .doc, .docx, .xls, .xlsx, odf, .odt, .ods, .ppt, .pptx, .html, .txt, .csv, .dbf, .htm, .html, .info, .nfo, .rtf, .vcf, .xml, .zip">
					<label class="custom-file-label" id="uploadFilesLable" for="">Choose file</label>
				</div>
				<div class="w-100 files-container mt-4 mb-4">

				</div>
			</div>

			<div class="modal-footer">

				<div class="status mr-2">
					<div class="status-spinner d-none">
						<div class="spinner-border mr-4" role="status"
							style="color:#34ace0; font-size:10px; width:20px; height:20px;">
						</div>
						<a href="#">Sending data...</a>
					</div>
					<span class="status-text"></span>
				</div>

				<div class="d-flex">
					<button class="ml-auto custom-button" data-dismiss="modal">Close</button>
					<button id="upload-docs_btn" class="custom-button info">Add Todo</button>
				</div>

			</div>
		</div>
	</div>
</div>

{{!-------------------
      Share Files
   -------------------  --}}

<div class="modal fade" id="share-docs" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body mb-2">
				<div class="d-flex mt-3">
					<div class="col-6 files-container"></div>
					<div class="w-100 col-6">
						<input id="recipient" type="text" class="custom-input w-100" placeholder="E-mail">
						<textarea id="message" rows="15" class="custom-textarea w-100" placeholder="Message"
							style="height: 307px;"></textarea>
					</div>
				</div>

			</div>
			<div class="modal-footer">

				<div class="status mr-2">
					<div class="status-spinner d-none">
						<div class="spinner-border mr-4" role="status"
							style="color:#34ace0; font-size:10px; width:20px; height:20px;">
						</div>
						<a href="#">Sending data...</a>
					</div>
					<span class="status-text"></span>
				</div>

				<div class="d-flex">
					<button class="ml-auto custom-button" data-dismiss="modal">Close</button>
					<button id="share-docs_btn" class="custom-button info">Add Todo</button>
				</div>

			</div>
		</div>
	</div>
</div>


{{!-------------------
      Todos Handler
   -------------------  --}}


<div class="modal fade" id="add-NewTodo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header" style="padding: 12px; padding-bottom:0px">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex" style="padding:12px">
				<div class="col-4" style="height:462px">

					<div class="calendar" id="dateControl">
						<div class="head-block mb-2" style="padding-top:12px; padding-bottom:12px">
							<div class="date">
								Nov 13, 2020
							</div>
							<div class="title">
								CONTROL
							</div>
						</div>
						<div class="body">
							<table class="date-selector" align="center">
								<div class="control w-100 d-flex justify-content-between align-items-center"
									style="padding: 12px;">
									<i class="far fa-chevron-left" id="previousMonth"></i>
									<div class="d-flex">
										<span class="current-month mr-1">

										</span>
										<span class="current-year ml-1">

										</span>
									</div>
									<i class="far fa-chevron-right" id="nextMonth"></i>
								</div>
								<thead>
									<tr>
										<td class="week-day">
											<div>Mn</div>
										</td>
										<td class="week-day">
											<div>Tu</div>
										</td>
										<td class="week-day">
											<div>We</div>
										</td>
										<td class="week-day">
											<div>Th</div>
										</td>
										<td class="week-day">
											<div>Fr</div>
										</td>
										<td class="week-day">
											<div>Sa</div>
										</td>
										<td class="week-day">
											<div>Su</div>
										</td>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>

					<div class="files-container" style="padding: 12px;"></div>

				</div>
				<div class="col-4" style="height:462px">

					<div class="calendar" id="dateDeadline">
						<div class="head-block mb-2" style="padding-top:12px; padding-bottom:12px">
							<div class="date">
								Nov 13, 2020
							</div>
							<div class="title">
								DEADLINE
							</div>
						</div>
						<div class="body">
							<table class="date-selector" align="center">
								<div class="control w-100 d-flex justify-content-between align-items-center"
									style="padding: 12px;">
									<i class="far fa-chevron-left" id="previousMonth"></i>
									<div class="d-flex">
										<span class="current-month mr-1">

										</span>
										<span class="current-year ml-1">

										</span>
									</div>
									<i class="far fa-chevron-right" id="nextMonth"></i>
								</div>
								<thead>
									<tr>
										<td class="week-day">
											<div>Mn</div>
										</td>
										<td class="week-day">
											<div>Tu</div>
										</td>
										<td class="week-day">
											<div>We</div>
										</td>
										<td class="week-day">
											<div>Th</div>
										</td>
										<td class="week-day">
											<div>Fr</div>
										</td>
										<td class="week-day">
											<div>Sa</div>
										</td>
										<td class="week-day">
											<div>Su</div>
										</td>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>

					<div class="performers">

						<div class="add-new-user w-100">
							<div class="drop-down w-100">
								<div class="drop-down_btn" style="height: 35px; margin-bottom:30px; padding:5px">
									<div>+</div>
									Add new Performer
								</div>
								<div class="drop-down_list w-100" id="user-list">

								</div>
							</div>
						</div>

						<div class="performer-list">

						</div>

					</div>

				</div>
				<div class="col-4">

					<input type="text" id="name" class="custom-input w-100 mb-2" placeholder="Todo name">
					<textarea name="" id="description" rows="" class="custom-textarea w-100" placeholder="Description"
						style="min-height: 367px;"></textarea>

				</div>
			</div>
			<div class="modal-footer">

				<div class="status mr-2">
					<div class="status-spinner d-none">
						<div class="spinner-border mr-4" role="status"
							style="color:#34ace0; font-size:10px; width:20px; height:20px;">
						</div>
						<a href="#">Sending data...</a>
					</div>
					<span class="status-text"></span>
				</div>

				<div class="d-flex">
					<button class="ml-auto custom-button" data-dismiss="modal">Close</button>
					<button id="add-NewTodo_btn" class="custom-button info">Add Todo</button>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="add-ExistingTodo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header" style="padding: 12px; padding-bottom:0px">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex" style="padding:12px">
				<div class="col-6" style="height: 189px; overflow-y:auto">

					<div class="files-container" style="padding: 12px;"></div>

				</div>
				<div class="col-6">

					<input type="text" class="custom-input w-100" placeholder="Comment">

					<div class="drop-down w-100">
						<button class="drop-down_btn add-btn">
							<span>+</span>
							Select Task
						</button>
						<div class="drop-down_list w-100" id="todo-list">

						</div>
					</div>

					<div class="selected_Todo">

					</div>

				</div>
			</div>
			<div class="modal-footer">

				<div class="status mr-2">
					<div class="status-spinner d-none">
						<div class="spinner-border mr-4" role="status"
							style="color:#34ace0; font-size:10px; width:20px; height:20px;">
						</div>
						<a href="#">Sending data...</a>
					</div>
					<span class="status-text"></span>
				</div>

				<div class="d-flex">
					<button class="ml-auto custom-button" data-dismiss="modal">Close</button>
					<button id="add-ExistingTodo_btn" class="custom-button info">Modify</button>
				</div>

			</div>
		</div>
	</div>

</div>