<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fonts/font-manager.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="libs/icons/css/all.css">
    <link rel="shortcut icon" href="img/services/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/status.css">
</head>

<body>
    <div class="wrapper">
        <section class="page_404">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="col-sm-10 col-sm-offset-1  text-center">
                            <div class="four_zero_four_bg">
                                <h1 class="text-center">{{status}}</h1>
                            </div>

                            <div class="contant_box_404">
                                <h3 class="h2">
                                    Ой! Помилка...
                                </h3>

                                <p>{{msg}}</p>

                                <a href="/myboard" class="link_404">На головну!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>