<header class="header-menu d-flex justify-content-between">
        <div class="left-menu d-flex align-items-center">
            <span class="menu-item">
                <i class="fas fa-home"></i>
                <a href="">Home</a>
            </span>
            <span class="menu-item">
                <i class="fal fa-search"></i>
                <a href="">Search</a>
            </span>
            <span class="menu-item active">
                <i class="far fa-archive"></i>
                <a href="">Archive</a>
            </span>
        </div>
        <div class="right-menu d-flex align-items-center flex-row-reverse">
            <span class="menu-item menu-profile">
                <a href="">Михаил</a>
                <img src="img/my_profile.png" alt="">
            </span>
            <span class="menu-item lang-selector">
                <i class="fal fa-chevron-down mr-3"></i>
                <ul class="d-none">
                    <li>
                        <img src="" alt="">
                        <p>Ru</p>
                    </li>
                    <li>
                        <img src="" alt="">
                        <p>Ua</p>
                    </li>
                    <li>
                        <img src="" alt="">
                        <p>Eng</p>
                    </li>
                </ul>
                <img src="img/lang-img/eng.png" alt="ru">
            </span>
            <span class="menu-item upload-btn" data-toggle="modal" data-target="#uploadDocs">
                <i class="fal fa-download"></i>
                <a href="#">Upload</a>
            </span>
        </div>
    </header>